@model List<Kipunji.Models.BaseDocModel>

<div class="right-content-pad">
    <p class="indent">Your request matched more than one page.  Please choose your desired page:</p>

    <table class="member-list indent">
    @foreach(var prop in Model) {
        <tr>
            <td style="width: 16px;"><img src="@Html.ResolveUrl(prop.Icon)" /></td>
            <td><a href="@Html.ResolveUrl(prop.Url)">@prop.LongName</a></td>
            <td><a href="@Html.ResolveUrl(prop.Url)">@((Kipunji.Models.TypeModel)prop).Assembly</a></td>
        </tr>
    }
    </table>
</div>
