@model Kipunji.Models.TypeModel

@if(Model.HasConstructors) {
    <h2>Constructors</h2>
    @Html.DisplayFor(m => m.Constructors, "MemberList")
}
		
@if (Model.HasFields) {
    <h2>Fields</h2>
    @Html.DisplayFor(m => m.Fields, "MemberList")
}
		
@if (Model.HasProperties) {
    <h2>Properties</h2>
    @Html.DisplayFor(m => m.Properties, "MemberList")
}
		
@if (Model.HasMethods) {
    <h2>Methods</h2>
    @Html.DisplayFor(m => m.Methods, "MemberList")
}
		
@if (Model.HasEvents) {
    <h2>Events</h2>
    @Html.DisplayFor(m => m.Events, "MemberList")
}
