@model Kipunji.Models.MemberModel

<div class="right-content-pad"> 
    <p class="indent"><span class="summary-member">@Model.FormattedDisplaySignature</span></p>
       
    <h2>Syntax</h2>
    <pre class="brush: csharp;">@Model.Signature.Value.TrimEnd(';')</pre>

    @if(Model.Parameters.Count > 0) {
        <h3>Parameters</h3>
        @Html.DisplayFor(m => m.Parameters, "ParameterList")
    }

    @if(Model.FormattedReturnType != null && Model.FormattedReturnType.ToString () != "void") {
    <h3>@(Model.Type == "Property" ? "Property Value" : "Return Value")</h3>
    <table class="indent" style="border: 0px">
        <tr>
            <td style="padding: 0 20px 0 0">@Kipunji.Formatter.CreateTypeLink(VirtualPathUtility.ToAbsolute ("~/"), Model.ReturnType)</td>
            <td style="padding: 0 20px 0 0"><span class="summary-return">@Model.FormattedReturnSummary</span></td>
        </tr>
    </table>
    }

    <h2>Remarks</h2>
    <p class="indent"><span class="remarks-member">@Model.FormattedRemarks</span></p>

    <h2>Version Information</h2>
    <div class="indent">@Model.FormattedVersionInfo</div>
</div>
