@model Kipunji.Models.NamespaceModel
<div class="right-content-pad">
    <p class="indent">@Model.FormattedSummary</p>

    @if (Model.HasRemarks) {
        <h2>Remarks</h2>
        <p class="indent">@Model.FormattedRemarks</p>
    }

    @if (Model.HasClasses) { 
        <h2>Classes</h2>
        @Html.DisplayFor(m => m.Classes, "TypeList")
    }

    @if (Model.HasStructures) { 
        <h2>Structures</h2>
        @Html.DisplayFor(m => m.Structures, "TypeList")
    }

    @if (Model.HasInterfaces) { 
        <h2>Interfaces</h2>
        @Html.DisplayFor(m => m.Interfaces, "TypeList")
    }

    @if (Model.HasEnumerations) { 
        <h2>Enumerations</h2>
        @Html.DisplayFor(m => m.Enumerations, "TypeList")
    }
</div>
